.tooltip{
        position: absolute;
        left: 0px;
        top: 0px;
        visibility: hidden;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 15pt;
        background-color:#DDEFE3;
        padding: 2px;
        pointer-events: none;
        max-width: 200px;
        overflow-wrap:normal;
    }

    body{
        background-color: black;
    }

    #buttondiv {
        width: 100%;
        text-align: center;
    }

button {
    background-color: transparent;
    border: none;
    padding: 20px;
    padding-bottom: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: white;
    font-family: "Work Sans", sans-serif;
    opacity: .4;
}

button:hover {
    opacity: 1;
}

button:focus {
    opacity: 1;
}

#map {
    width: 1200px; height: 800px;
}
svg { 
    background-color: black;
}

#chart{
    position:relative;
}
